{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}



{% block body %}

<div class = "index_container">

    <div class = "index_nav">
        <a class="link" href="/"><p class="name">Library</p></a>
        <a class="link" href="/user/user/"><div class="account">
            <div></div>
        </div></a>
    </div>

    <div class = "index_mid">
        <input class = "index_search_input" type="text" placeholder="Search">
        <div class="index_search_button"><div></div></div>
    </div>

    <div class = "index_bottom">
        <div class = "book_container">

            {% for i in books %}
                <a class = "link" href="/book/info/{{ i.id }}">
                    <div class="book">
                        <div class="book_left">
                            {% load static %}
                            <img src="{% static i.image %}">
                        </div>
    
                        <div class="book_right">
                            <p class="title">{{ i.title }}</p>
                            <p class="author">{{ i.author }}</p>
                            <p class="genre">{{ i.genre }}</p>
                            <p class="rating">{{ i.rating }}/10</p>
                        </div>
                    </div>
                </a>
            {% endfor %}


        </div>




    </div>



</div>


<script src="../static/js/index.js"></script>
{% endblock %}