{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}



{% block body %}

<div class = "register_container">

    <div class = "register_nav">
        <p class="name">Library</p>
    </div>

    <div class = "register_mid">
        <div class = "register_mid_top">
            
            <div class = "register_info_div">
                <p>Email:</p>
                <input class = "email" type="email">
            </div>

            <div class = "register_info_div">
                <p>Password:</p>
                <input class = "password" type="password">
            </div>

        </div>

        <div class = "register_mid_bottom">
            <a href='/register'><p>Register</p></a>
            <button>Login</button>
        </div>
    </div>




</div>

<script src="../static/js/login.js"></script>
{% endblock %}