{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/register.css">
{% endblock %}



{% block body %}

<div class = "register_container">

    <div class = "register_nav">
        <p class="name">Library</p>
    </div>

    <div class = "register_mid">
        <div class = "register_mid_top">
            <div class = "register_info_div">
                <p>First Name:</p>
                <input class = "fname" type="text">
            </div>

            <div class = "register_info_div">
                <p>Last Name:</p>
                <input class = "lname" type="text">
            </div>

            <div class = "register_info_div">
                <p>Email:</p>
                <input class = "email" type="email">
            </div>

            <div class = "register_info_div">
                <p>Password:</p>
                <input class = "password" type="password">
            </div>

        </div>

        <div class = "register_mid_bottom">
            <a href='/login'><p>Login</p></a>
            <button>Register</button>
        </div>
    </div>




</div>

<script src="../static/js/register.js"></script>
{% endblock %}