*{
    margin:0px;
    padding:0px;
}

html{
    font-size:10px;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: monospace;
}

:root{
    --greenish:#72887B;
    --light_blue:#2D7EF8;
    --baby_blue:#C0DCCC;
    --white:#FFFFFF;
    --black:#000000;
}


body{
    overflow-x:hidden;
}

.register_container{
    width:100vw;
    min-height:100vh;
    background:var(--greenish);
    box-sizing:border-box;
    padding:20px 50px;
}

    .register_nav{
        margin-bottom:60px;
    }

        .name{
            font-size:3rem;
            font-weight:bold;
        }

    .register_mid{
        background:var(--baby_blue);
        width:fit-content;
        margin:0 auto;
        padding:50px 40px;
        border-radius:15px;
        box-shadow:-4px 4px 4px rgba(0,0,0,0.25);
    }

        .register_mid_top{
            margin-bottom:60px;
        }

            .register_info_div{
                display:flex;
                flex-wrap:wrap;
                justify-content:space-between;
                align-items:center;
                margin-bottom:15px;
            }

                .register_info_div>p{
                    font-size:1.6rem;
                    font-weight:bold;
                    margin-right:15px;
                }

                .register_info_div>input{
                    outline:none;
                    border:1px solid var(--black);
                    border-radius:10px;
                    height:30px;
                    width:200px;
                    padding:0px 10px;
                }

        .register_mid_bottom{
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }

            .register_mid_bottom>p{
                text-decoration:underline;
                font-size:1.4rem;
                font-weight:bold;
                margin-bottom:15px;
            }

            .register_mid_bottom>button{
                width:70%;
                height:40px;
                border-radius:10px;
                outline:none;
                border:none;
                background:var(--light_blue);
                font-size:1.5rem;
                font-weight:bold;
                box-shadow:0px 4px 4px rgba(0,0,0,0.25);
            }
