*{
    margin:0px;
    padding:0px;
}


html{
    font-size:10px;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: monospace;
}

:root{
    --greenish:#72887B;
    --light_blue:#2D7EF8;
    --dark_blue:#121A26;
    --white:#FFFFFF;
    --black:#000000;
    --red:#CE2D4F;
}


body{
    overflow:hidden;
}


.container{
    width:100vw;
    height:100vh;
    background:var(--greenish);
    box-sizing:border-box;
    display:flex;
    justify-content:start;
}

    .navigation{
        background:var(--dark_blue);
        height:100%;
        width:23%;
        box-sizing:border-box;
        padding:15px 20px;
        border-radius:0px 15px 15px 0px;
        position:relative;
        box-shadow:4px 0px 4px rgba(0,0,0,0.4);
    }

        .navigation>p{
            color:var(--white);
            font-size:2.5rem;
            font-weight:bold;
            margin-bottom:30px;

        }

        .nav{
            display:flex;
            flex-direction:column;
            gap:25px;
            padding:0px 30px;

        }

            .link{
                text-decoration: none;
                color: inherit;
                cursor: pointer;
            }

            .nav_button{
                background:var(--white);
                color:var(--black);
                font-size:1.4rem;
                outline:none;
                border:none;
                width:100%;
                border-radius:10px;
                height:40px;
                font-size:1.5rem;
                font-weight:bold;

            }

                .nav_button:hover{
                    cursor:pointer;
                }

            .selected{
                background:var(--light_blue);
                color:var(--white);
            }

        
        .nav_bottom{
            text-align:center;
            position:absolute;
            bottom:10px;
            left:0px;
            width:100%;
        }

            .nav_bottom p{
                color:var(--red);
                font-size:1.7rem;
                text-decoration:underline;
                margin-bottom:10px;
            }

    
    .tasks{
        height:100%;
        width:77%;
        box-sizing:border-box;
        padding:0px 60px;
    }

        .task{
            background:none;
            height:100%;
            width:60%;
            box-sizing:border-box;
            padding:40px 50px;
            margin:0 auto;
            position:relative;
        }

            .task_top{
                margin-bottom:30px;
                width:100%;
                display:flex;
                justify-content:center;
                padding:10px 0px;
            }

                
                .index_search_input{
                    width:60%;
                    height:20px;
                    padding:5px 10px;
                    border-radius:10px;
                    border:1px solid var(--black);
                    box-shadow:0px 4px 4px rgba(0,0,0,0.25);
                    margin-right:10px;
                    font-size:1.5rem;
                    outline:none;
                }
        
                .index_search_button{
                    width:30px;
                    height:30px;
                    border-radius:12px;
                    background:var(--light_blue);
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    box-shadow:0px 4px 4px rgba(0,0,0,0.25);
                }
        
                    .index_search_button:hover{
                        cursor:pointer;
                    }
        
                    .index_search_button div{
                        width:20px;
                        height:20px;
                        border-radius:50px;
                        background-image:url('../access/search.svg');
                        background-size:cover;
                        background-repeat:no-repeat;
                        background-position:center;
                    }

            
            .task_bottom{
                height:100%;
                box-sizing:border-box;
                overflow-y:scroll;
                padding-top:10px;
                padding-bottom:100px;
            }

                    .request{
                        background:var(--white);
                        height:100px;
                        box-sizing:border-box;
                        display:flex;
                        flex-wrap:wrap;
                        justify-content:space-between;
                        align-items:center;
                        border-radius:10px;
                        padding:15px 25px;
                        box-shadow:0px 4px 4px rgba(0,0,0,0.25);
                        margin-bottom:20px;
                    }

                        .request_info{
                            display:flex;
                            flex-direction:column;
                            justify-content:space-between;
                            align-items:start;
                            height:70%;
                            
                        }

                            .request_info>p{
                                font-size:1.5rem;
                                font-weight:bold;
                            }

                        .return_button{
                            background:var(--dark_blue);
                            font-weight:bold;
                            color:var(--white);
                            font-size:1.5rem;
                            width:30%;
                            height:40px;
                            outline:none;
                            border:none;
                            border-radius:10px;
                            box-shadow:0px 4px 4px rgba(0,0,0,0.25);
                            transition:background-color 0.2s;
                        }

                        .return_button:hover{
                            cursor:pointer;
                            background:var(--light_blue);
                        }








            

            

.hide{
    display:none;
}









::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--dark_blue);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color:rgb(100, 99, 99);
}